{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
    <img src="{{ asset('bundles/app/default/') }}images/topBar.jpg" class="dsb">
    
    <div class="eventDetail">
        <h1>{{ event.title }}</h1>
        
        <div class="edTxt">
            <p><img src="{{ (asset('/uploads/')~event.imgUrl) | imagine_filter('thumb4') }}"></p>
            {{ event.info | raw }}
        </div>
    </div>
{% endblock %}
{% block title %} - 专享活动{% endblock %}