{% extends 'AppBundle:default:base.html.twig' %}
{% block body %}
{% block background %}
<style>
body{ background:#f3f3f3;}
</style>
{% endblock %}
<div class="wrapper">
	{% block content %}
	{% endblock %}
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}